ion-content{
    --ion-background-color:#E9DAC1;
    text-align: justify;
}

ion-card{
    --ion-background-color:rgba(255, 255, 255, 0.8);
    padding:10px;
    font-size: 15px;
}

.header{
    --background: #603813;
    color:#F5B97D;
}

ion-item-divider{
    --background:#603813;
    height: 1px;
}

.left{
    text-align: left;
    font-size: 15px;
    color:#603813;
}

h1{
    font-family: "vanilla";
    text-align: center;
    color:black;
}

h1.content{
    font-family: "vanilla";
    font-size: 15px;
    text-align: left;
}

h6{
    font-family: "blackjack";
    text-align:right;
}

p,li{
    font-family: "inter";
    color: #000;
}

a{
    text-decoration: none;
}


.image-border{
    border-radius: 100px;
    border:5px dashed #603813;
    margin:0px auto;
    display:block;
    text-align: center;
    
}

.title{
    font-family: 'Vanilla';
    font-size: 26px;
  }
  
  p{
    color: #603813;
  }
  .line{
    width:100%; 
    height:5px; 
    background: #603813;
    margin: 0;
  }