<ion-app class="splash" *ngIf="showSplash">
  <ion-content>
    <div class="box" >
      <div class="row ">
        <div class="col text-center logo">
          <img src="assets/icons/Logo.png" alt="Logo of Cookie Delights">
          <div></div>
        </div>
      </div>
    </div>
  </ion-content>
  
  <ion-footer>
    <div class="row bgCookie">
        <div class="col text-center bottomCookies">
          <img src="assets/icons/bottomCookies.png" alt="">
        </div>
      </div>
  </ion-footer>
</ion-app>

