ion-content{
    --ion-background-color:#E9DAC1;
    text-align: justify;
  }
  
  ion-card{
    --background: #603813;
    padding:10px;
    font-size: 15px;
  }
  
  .header{
    --background: #603813;
    color:#F5B97D;
  }
  
  ion-item-divider{
    --background:#603813;
    height: 1px;
  }
  

  img {
  height: 200px;
  width: 200px;
  margin: 0px auto;
  display: block;
  }
  
  .left{
    text-align: justify;
    font-size: 20px;
    color: #ffffff;
    font-family: "inter";
  }
  
  
  h1{
    font-family: "vanilla";
    text-align: center;
    font-size: 18px;
    color: #603813;
  }
  
  
  .bg-menu{
      background-color: #f5b97d;
      
  }
  
  